.SingleLocloading {
    position: absolute;
    transform: scale(1.5);
    top: 50%;
    left: 50%;
}

li {
    list-style: none;
}

a {
    cursor: pointer;
}

.singleLocaWrapper {
    padding-top: 25px;
}

@media (min-width: 992px) {
    .singleLocaWrapper {
        padding-top: 32px;
    }
}

.singleLocaInnerWrapper {
    max-width: 80rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: start;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
}

@media (min-width: 768px) {
    .singleLocaInnerWrapper {
        padding: 0 16px;
    }
}

.singleLocaInner {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 100%;
}

.singleLocaInnerPad {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.singleLocaFilters {
    margin: 0;
    padding: 1.5rem 0 1rem;
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.singleLocaFilter {
    position: relative;
    font-size: 0.875rem;
    padding: 0.375rem 0.875rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    text-transform: uppercase;
}

.singleLocaFilter:first-of-type {
    padding-left: 0;
}

.singleLocaFilterLink {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

.singleLocaFilterLink:hover {
    color: rgb(64, 64, 64);
    text-decoration: none;
}

.singleLocaFilterSlash {
    margin-top: 3px;
}

.secondFilter {
    text-decoration: none;
    font-weight: bold;
}

.filterGreyText {
    background-color: rgb(255, 255, 255);
    color: rgb(128, 128, 128);
}


.singleLocaInfoMainSection {
    width: 100%;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
    position: relative;
}

@media screen and (min-width: 576px) {
    .singleLocaInfoMainSection {
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) {
    .singleLocaInfoMainSection {
        flex-direction: row;
    }
}

@media screen and (min-width: 992px) {
    .singleLocaInfoMainSection {
        flex-direction: row;
    }
}

.singleLocaInfoWrapper {
    width: 100%;
    max-width: 48rem;
    padding: 0;
}

@media screen and (min-width: 576px) {
    .singleLocaInfoWrapper {
        width: 100%;
        padding-right: 1.5rem;
    }
}

@media screen and (min-width: 768px) {
    .singleLocaInfoWrapper {
        width: 66.67%;
    }
}

@media screen and (min-width: 992px) {
    .singleLocaInfoWrapper {
        width: 66.67%;
    }
}

.singleLocaSliderWrapper {
    width: 100%;
    -webkit-box-align: center;
    align-items: center;
}

.singleLocaSliderLink {
    user-select: none;
    background-color: white;
    object-fit: contain;
    width: 100%;
}

.singleLocaCarouselWrapper {
    width: 100%;
}

.singleLocaCarouselInner {
    position: relative;
}

.singleLocaSliderBottomShadow {
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 83.33%);
    background-blend-mode: multiply;
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
}

.singleLocaCarouselImagesWrapper {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.carouselNoImages {
    display: flex;
    height: 300px;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.carouselPlaceholder {
    width: 100%;
    max-width: 450px;
}

.singleLocaCarouselList {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    transition-timing-function: cubic-bezier(.645, .045, .355, 1);
    will-change: transform;
}

.singleLocaCarouselOne {
    width: calc(100% * 3);
    transform: translateX(0%) translateX(0px);
    flex-direction: row;
}

/*Move transform to styles*/
.singleLocaCarouselTwo {
    width: 300%;
    transform: translateX(-33.3%) translateX(0px);
    flex-direction: row;
}

.singleLocaCarouselThree {
    width: 300%;
    transform: translateX(-66.6%) translateX(0px);
    flex-direction: row;
}

.singleLocaCarouselImageWrapper {
    position: relative;
    display: block;
    box-sizing: border-box;
    height: 0;
    margin: 0;
    list-style-type: none;
    float: left;
}

.singleLocaCarouselImageInner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.singleLocaCarouselImage {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    border-style: none;
}

.singleLocaCarouselLeftButtonWrapper {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0.5rem;
    outline: none;
}

.singleLocaCarouselLeftButtonInner {
    pointer-events: none;
    line-height: 0;
}

.carouselRightButton {
    right: 0.5rem;
    left: unset;
}

.singleLocaCarouselCapacity {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    position: absolute;
    bottom: 0.5rem;
    left: 0.875rem;
}

.singleLocaCapacityNumber {
    margin: 2px 0 0 0.5rem;
    color: rgb(255, 255, 255);
}

.singleLocaInfoDetails {
    width: 100%;
    padding-top: 1.75rem;
    -webkit-box-align: center;
    align-items: center;
}

.singleLocaInfoDetailsInner {
    margin-bottom: 7rem;
}

@media (min-width: 768px) {
    .singleLocaInfoDetailsInner {
        margin-bottom: 3rem;
    }
}

.singleLocaDetailsEquipWrapper {
    margin-bottom: 2rem;
}


@media (min-width: 768px) {
    .singleLocaDetailsEquipWrapper {
        margin-bottom: 2.5rem;
    }
}

@media (min-width: 992px) {
    .singleLocaDetailsEquipWrapper {
        margin-bottom: 3rem;
    }
}

.singleLocaDetailsTitle {
    font-size: 1.75rem;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1.5rem;
    text-transform: uppercase;
    margin: 0 0 1rem;
    color: rgb(0, 0, 0);
}

@media (min-width: 992px) {
    .singleLocaDetailsTitle {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
}

.singleLocaDetailsEquipInner {
    margin-bottom: 1rem;
}

@media (min-width: 992px) {
    .singleLocaDetailsEquipInner {
        columns: auto 2;
    }
}

@media (min-width: 768px) {
    .singleLocaDetailsEquipInner {
        margin-bottom: 0.875rem;
    }
}

@media (min-width: 992px) {
    .singleLocaDetailsEquipInner {
        margin-right: 1.5rem;
    }
}

.singleLocaDetailEquipItem {
    display: flex;
    padding-bottom: 1rem;
    break-inside: avoid-column;
}

@media (min-width: 768px) {
    .singleLocaDetailEquipItem {
        padding-bottom: 1.25rem;
    }
}

@media (min-width: 992px) {
    .singleLocaDetailEquipItem {
        padding-bottom: 1.5rem;
    }
}

.singleLocaDetailEquipIcon {
    pointer-events: none;
    line-height: 0;
}

.singleLocaDetailEquipTitle {
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 1.25rem;
    margin: 0;
    color: rgb(0, 0, 0);
    padding-bottom: 0.5rem;
}

@media (min-width: 992px) {
    .singleLocaDetailEquipTitle {
        font-size: 1.25rem;
        line-height: 1.25rem;
    }
}

.singleLocaDetailEquipText {
    color: rgb(0, 0, 0);
    margin-bottom: 0.5rem;
    display: inline;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1.25rem;
}

.singleLocaDetailsLocationWrap {
    margin-bottom: 2rem;
}

@media (min-width: 768px) {
    .singleLocaDetailsLocationWrap {
        margin-bottom: 2.5rem;
    }
}

.singleLocaAddress {
    margin: 0 0 0.75rem;
}

.singleLocaGmaps {
    color: rgb(0, 0, 0);
    text-decoration: underline;
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1.25rem;
}

.track_studioInfo_googleMaps {
    color: rgb(0, 0, 0);
}

.paymentColumn {
    width: 100%;
    padding-top: 0;
}

@media screen and (min-width: 576px) {
    .paymentColumn {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .paymentColumn {
        width: 33.33%;
    }
}

@media screen and (min-width: 992px) {
    .paymentColumn {
        width: 33.33%;
    }
}

@media (min-width: 768px) {
    .paymentColumnInner {
        position: sticky;
        top: 80px;
    }
}

.paymentTitleWrap {
    padding-left: 0px;
    padding-right: 0px;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}

.paymentTitle {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1.75rem;
    text-transform: uppercase;
    margin-bottom: 0.25rem;
    /*margin: 0;*/
    color: rgb(0, 0, 0);
}

@media (min-width: 992px) {
    .paymentTitle {
        margin-bottom: 0.25rem;
        font-size: 1.75rem;
        line-height: 1.75rem;
    }
}

@media (min-width: 768px) {
    .paymentTitle {
        margin-bottom: 0.5rem;
    }
}

.paymentColumnCity {
    font-size: 1.25rem;
    letter-spacing: 0;
    line-height: 1.5rem;
    color: rgb(0, 0, 0);
    padding-left: 0;
    padding-right: 0;
}

@media (min-width: 768px) {
    .paymentColumnCity {
        margin-bottom: 1rem;
    }
}

.paymentColumnDate {
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1.25rem;
    color: rgb(0, 0, 0);
    padding-left: 0;
    padding-right: 0;
    max-width: 300px;
}

.paymentColumnTimeWrap {
    padding-left: 0;
    padding-right: 0;
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
    margin-bottom: 1rem;
}

.paymentColumnTimeWrap {
    font-size: 1rem;
    letter-spacing: 0;
    line-height: 1.25rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.paymentColumnTotal {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
}

.paymentColumnTotalInner {
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
}

.paymentColumnTotalText {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: -0.5px;
    line-height: 1.25rem;
    text-transform: uppercase;
    margin: 0;
    color: rgb(0, 0, 0);
}

@media (min-width: 992px) {
    .paymentColumnTotalText {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }
}

.paymentColumnTotalAmount {
    align-items: flex-end;
    display: flex;
}

.paymentTotalAmountSpan {
    font-size: 1.5rem;
    line-height: 1.25rem;
    font-weight: bold;
    text-transform: uppercase;
}

.paymentEditButton {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: inherit;
    -webkit-box-pack: center;
    justify-content: center;
    transition: all 0.2s ease-in-out 0s;
    text-align: center;
    white-space: nowrap;
    border-radius: 0;
    border: 1.5px solid transparent;
    user-select: none;
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: underline;
    text-transform: none;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.25rem;
    padding: 0;
}

.paymentPayButton {
    padding: 0.9rem 1.5rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    flex: 0 0 auto;
    font-family: inherit;
    -webkit-box-pack: center;
    justify-content: center;
    transition: all 0.2s ease-in-out 0s;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    font-weight: bold;
    border-radius: 0;
    text-transform: uppercase;
    border: 1.5px solid rgb(0, 0, 0);
    font-size: 1rem;
    user-select: none;
    color: rgb(240, 240, 240);
    background-color: rgb(0, 0, 0);
    width: 100%;
}

.paymentPayButton:hover {
    background-color: rgb(51, 51, 51);
    color: rgb(242, 242, 242);
    border-color: rgb(51, 51, 51);
    outline: 0;
}

.paymentCardsWrap {
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
}

.paymentAcceptText {
    font-size: 0.75rem;
    letter-spacing: 0;
    line-height: 0.875rem;
    margin-bottom: 1rem;
    color: rgb(128, 128, 128);
}

@media (min-width: 992px) {
    .paymentAcceptText {
        margin-bottom: 0.75rem;
    }
}

@media (min-width: 768px) {
    .paymentAcceptText {
        margin-bottom: 0.5rem;
        margin-top: 1rem;
    }
}

.paymentCardsIcons {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 1rem;
    justify-content: center;
}

@media (min-width: 768px) {
    .paymentCardsIcons {
        margin-bottom: 0.5rem;
    }
}

@media (min-width: 992px) {
    .paymentCardsIcons {
        width: 100%;
        margin-bottom: 0.75rem;
    }
}

.paymentCardsIcon {
    width: 100%;
    margin-right: 0.875rem;
    max-width: 250px;
}

@media (min-width: 768px) {
    .paymentCardsIcon {
        width: 40px;
        margin-right: 0.5rem;
    }
}

@media (min-width: 992px) {
    .paymentCardsIcon {
        width: 100%;
        margin-right: 0.875rem;
    }
}

.paymentPowered {
    margin-bottom: 1.5rem;
    text-align: center;
}