.popperPlacement {
    padding-top: 0 !important;
    position: absolute !important;
    inset: unset !important;
    /*display: flex;*/
    /*overflow-y: hidden;*/
    will-change: transform !important;
    top: 100% !important;
    right: 0 !important;
    transform: none !important;
    width: 300px !important;
    z-index: 6 !important;
}

.myHeader {
    background: white;
}

.myLabel {
    color: rgb(151, 152, 154);
    font-size: 12px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .myLabel {
        font-size: 13px;
    }
}

.myInput {
    border: none;
    outline: 0;
    line-height: normal;
    font-weight: bold;
    padding-top: 3px;
    padding-left: 0;
    width: 100%;
    cursor: pointer;
    text-overflow: ellipsis;
    font-size: 1rem;
}

@media (min-width: 768px) {
    .myInput {
        font-size: 18px;
        padding-top: 0.354rem;
    }
}

.myInputEdit {
    width: 100%;
    line-height: normal;
    font-size: inherit;
    border: none;
    outline: 0;
    padding-top: 3px;
    padding-left: 0;
    cursor: pointer;
    text-overflow: ellipsis;
}

.myDropdownDate {
    position: absolute;
    will-change: transform;
    top: 100%;
    left: 10%;
    width: 100%;
    z-index: 6;
}

.myDropdownDateEdit {
    position: absolute;
    will-change: transform;
    top: 0;
    left: 0;
    width: 300px;
    z-index: 6;
}

.dateTimeWrapper {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    margin-top: 0.354rem;
    overflow-y: auto;
}

.myButtonInner {
    width: 100%;
    cursor: pointer;
    padding: 0.5rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-height: 56px;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .myButtonInner {
        border-bottom: 3px solid transparent;
        border-top: 3px solid transparent;
        padding: 0.707rem;
    }
}