
.myContainer {
    top: 0;
    z-index: 5;
    display: flex;
    flex-direction: column;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    padding: 1rem 1rem 0;
    width: 100%;
}

button {
    border-radius: unset !important;
}

.myButton {
    flex: 1 1 0%;
}


.myButtonWrapper {
    position: relative;
    flex: 1 1;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgb(0, 0, 0);
}
.myButtonWrapper:last-child {
    border-bottom: none;
}

@media (min-width: 768px) {
    .myButtonWrapper {
        border-bottom: none;
        border-right: 1px solid rgb(0, 0, 0);
    }

    .myButtonWrapper:last-child {
        border-right: none !important;
    }
}



.myButtonInner {
    width: 100%;
    cursor: pointer;
    padding: 0.5rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-height: 56px;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .myButtonInner {
        border-bottom: 3px solid transparent;
        border-top: 3px solid transparent;
        padding: 0.707rem;
    }
}

.myLabel {
    color: rgb(151, 152, 154);
    font-size: 12px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .myLabel {
        font-size: 13px;
    }
}

.myInput {
    border: none;
    outline: 0;
    font-weight: bold;
    padding-top: 3px;
    padding-left: 0;
    width: 100%;
    cursor: pointer;
    text-overflow: ellipsis;
    font-size: 1rem;
}

@media (min-width: 768px) {
    .myInput {
        font-size: 18px;
        padding-top: 0.354rem;
    }
}

.myDropdownButton {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    border: 1px solid rgb(0, 0, 0);
    -webkit-box-align: stretch;
    align-items: stretch;
    justify-content: stretch;
}

@media (min-width: 768px) {
    .myDropdownButton {
        flex-flow: row nowrap;
    }
}

.myDropdownDate {
    position: absolute;
    will-change: transform;
    top: 100%;
    left: 10%;
    width: 300px;
    z-index: 6;
}

.myDropdownLocation {
    position: absolute;
    will-change: transform;
    top: 0px;
    left: 0px;
    transform: translate3d(98px, 171px, 0px);
}

.dropHidden {
    display: none;
}

.DateTimeWrapper {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    margin-top: 0.354rem;
    overflow-y: auto;
}

.calendarWrapperInner {
    width: 100%;
    text-align: center;
    overflow-x: hidden;
    /* hide scroll */
}

.myDropdownInnerWrapper {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    margin-top: 0.354rem;
    overflow-y: auto;
}

.myDropdownInner {
    max-height: 300px;
    overflow-y: auto;
}

.myLocationOptions {
    padding: 1rem;
    box-shadow: rgb(0 0 0) 0px -1px 0px inset;
    min-width: 250px;
    user-select: none;
    cursor: pointer;
    font-weight: normal;
    font-size: 18px;
    background-color: rgb(232, 232, 232);
}

.timepickerInputWrapper {
    width: 100%;
}

.timepickerContainer {
    background: rgb(255, 255, 255);
    width: 100%;
    max-width: 650px;
    height: 380px;
    padding: 16px;
    display: flex;
}

.timepickerColumnContainer {
    margin: 16px;
    display: flex;
    flex-direction: column;
    width: 50%;
}

.timepickerTimeContainer {
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-top: 8px;
}

.timepickerTime {
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    height: 32px;
    width: 66px;
    font-size: 14px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 0.354rem;
}

.timepickerTime:hover {
    background: rgb(232, 232, 232);
}

.timepickerTimeSelected {
    color: rgb(255, 255, 255) !important;
    background: rgb(0, 0, 0) !important;
}

.timepickerTimeSelected:hover {
    background: rgb(0, 0, 0);
}

.timepickerInput {
    display: none;
}

.myDropdownTime {
    position: absolute;
    will-change: transform;
    width: 650px;
    top: 100%;
    right: 0;
    z-index: 6;
}